<header>
  <dx-toolbar class="dbflow-toolbar">
      <dxi-item location="before" widget="dxButton" locateInMenu="never" [options]="drawerButtonOptions">
      </dxi-item>

      <dxi-item location="before" widget="dxButton" locateInMenu="never" [options]="homeButtonOptions">
    </dxi-item>

    <dxi-item location="center" widget="dxButton" locateInMenu="never">
      <div *dxTemplate>
        <div class='toolbar-label'><b>THIS IS MY APPLICATION</b></div>
      </div>
    </dxi-item>
    <!-- <dxi-item location="center" widget="dxButton" locateInMenu="never">
      <div *dxTemplate>
        <div class='toolbar-label'><a [routerLink]="['/safeKeeping']">SUPERENLACE</a></div>
      </div>
    </dxi-item> -->
    <!-- <dxi-item *ngIf="!(this.sessionQuery.isLoggedIn$ | async)" -->
    <dxi-item *ngIf="!(this.sessionQuery.isLoggedIn$ | async)" location="after" widget="dxButton" locateInMenu="never" [options]="loginButtonOptions">
    </dxi-item>

    <!-- <dxi-item *ngIf="(this.sessionQuery.isLoggedIn$ | async)" location="after" widget="dxButton" locateInMenu="never"> -->
    <dxi-item *ngIf="(this.sessionQuery.isLoggedIn$ | async)" location="after" widget="dxButton" locateInMenu="never">
      <div *dxTemplate>
        <dx-menu [items]="userItems" displayExpr="text">
        </dx-menu>
      </div>
    </dxi-item>
  </dx-toolbar>

   <dx-drawer
    [openedStateMode]="selectedOpenMode"
    [position]="selectedPosition"
    [revealMode]="selectedRevealMode"
    template="template"
    [(opened)]="isDrawerOpen"
    [height]="750"
    [closeOnOutsideClick]="true">
    <div *dxTemplate="let data of 'template'" class="drawer">
      <app-drawer >
      </app-drawer>
    </div>
    <div id="content" class="container-md dbflow-content">
      <router-outlet></router-outlet>
    </div>
</dx-drawer>

  <!--
    [height]="400"

<div>
    <button *ngIf="!(this.sessionQuery.isLoggedIn$ | async)" (click)="this.login()">Login</button>
    <button *ngIf="(this.sessionQuery.isLoggedIn$ | async)" (click)="this.logout()">Logout</button>
</div>

-->
</header>
