<header>
  <dx-toolbar>
    <dxi-item location="before" widget="dxButton" locateInMenu="never" [options]="homeButtonOptions">
    </dxi-item>

    <dxi-item location="center" widget="dxButton" locateInMenu="never">
      <div *dxTemplate>
        <div class='toolbar-label'><b>THIS IS MY APPLICATION</b></div>
      </div>
    </dxi-item>
    <!-- <dxi-item location="center" widget="dxButton" locateInMenu="never">
      <div *dxTemplate>
        <div class='toolbar-label'><a [routerLink]="['/safeKeeping']">SUPERENLACE</a></div>
      </div>
    </dxi-item> -->
    <!-- <dxi-item *ngIf="!(this.sessionQuery.isLoggedIn$ | async)" -->
    <dxi-item *ngIf="!(this.sessionQuery.isLoggedIn$ | async)" location="after" widget="dxButton" locateInMenu="never" [options]="loginButtonOptions">
    </dxi-item>

    <!-- <dxi-item *ngIf="(this.sessionQuery.isLoggedIn$ | async)" location="after" widget="dxButton" locateInMenu="never"> -->
    <dxi-item *ngIf="(this.sessionQuery.isLoggedIn$ | async)" location="after" widget="dxButton" locateInMenu="never">
      <div *dxTemplate>
        <dx-menu [items]="userItems" displayExpr="text">
        </dx-menu>
      </div>
    </dxi-item>
  </dx-toolbar>
  <!--

<div>
    <button *ngIf="!(this.sessionQuery.isLoggedIn$ | async)" (click)="this.login()">Login</button>
    <button *ngIf="(this.sessionQuery.isLoggedIn$ | async)" (click)="this.logout()">Logout</button>
</div>

-->
</header>
