<!--
<div *ngIf="(loading$ | async) === false">
  <ul>
    <li *ngFor="let p of posts$ | async">
      {{p.title}}
    </li>
  </ul>
</div>
<div *ngIf="(loading$ | async) === true">
  Loading.....
</div>


-->
<!-- 
    [openedStateMode]="selectedOpenMode"
    [position]="selectedPosition"
    [revealMode]="selectedRevealMode"
    [closeOnOutsideClick]="true"

    
-->

<dx-drawer 
    template="template"
    [(opened)]="isDrawerOpen"
    [closeOnOutsideClick]="true"
    openedStateMode="shrink"
    position="right"
    height="100%"
>
    <div *dxTemplate="let data of 'template'" style="width: 350px">
      <div class="appointment_chat">
        <app-chat-view></app-chat-view>
      </div>
    </div>
    <div>
      <dx-scheduler
      [dataSource]="(appointments$ | async)"
      [views]='["day", "week", "workWeek", "month"]'
      currentView="month"
      [currentDate]="currentDate"
      [startDayHour]="9"
      [height]="600"
      appointmentTooltipTemplate="tooltipTemplate"
      (onAppointmentClick)="onAppointmentClicked($event)"
      (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
      dataCellTemplate="dataCellTemplate"
      >
      <dxo-editing 
          [allowAdding]="false"
          [allowDeleting]="false"
          [allowUpdating]="false"
          [allowResizing]="false"
          [allowDragging]="false"
      ></dxo-editing>>
  
      <div *dxTemplate="let model of 'tooltipTemplate'">
        <dx-button
                          stylingMode="contained"
                          text="Contained"
                          type="normal"
                          [width]="120"
                          (onClick)="goToChatFromAppointment($event)">
                      </dx-button>
        <dx-toolbar>
                <dxi-item location="after" widget="dxButton" locateInMenu="auto" 
                          [options]="addButtonOptions" [onClick]="goToChatFromAppointment">
                </dxi-item>
        </dx-toolbar>        
        <i>{{model.appointmentData.subject}} </i>
      </div>
      <div *dxTemplate="let cellData of 'dataCellTemplate'" [ngClass]="markWeekEnd(cellData, (periodsByDate$ | async)?.get(cellData.startDate.toDateString()))">
        <div>
          {{cellData.text}} {{ (periodsByDate$ | async)?.get(cellData.startDate.toDateString())?.text }} 
        </div>
      </div>
  </dx-scheduler>
</div>
   
</dx-drawer>


