<div class="card">
  <div class="row dbflow-card-body">
    <div class="card-priority priority-1"></div>
      <div class="col">
        <b>{{ notification.subject }}</b>
      </div>
    </div>
  <div class="row dbflow-card-footer">
    <div class="col">
      <dx-toolbar class="dbflow-toolbar">
        <dxi-item location="after" widget="dxButton" locateInMenu="never" [options]="deleteButtonOptions">
        </dxi-item>
          <dxi-item *ngIf="notification.dueDate" location="after" widget="dxButton"
                  locateInMenu="never" [options]="dueDateButtonOptions">
        </dxi-item>

        <dxi-item location="after" widget="dxButton"
              locateInMenu="never" [options]="chatButtonOptions">
        </dxi-item>
      </dx-toolbar>
    </div>
  </div>
</div>

<dx-popup [width]="500" [height]="650" [showTitle]="true" [position]=position title="Information" [dragEnabled]="false"
  [closeOnOutsideClick]="true" [(visible)]="popupVisible">
  <div *dxTemplate="let data of 'content'">
    <app-chat-detail></app-chat-detail>
  </div>
</dx-popup>
