
.card {
  position: relative;
  // background-color: white;
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  padding: 15px 15px 15px 15px;
  // margin: 10px;
  // cursor: pointer;
}

.dbflow-card-body {
  height:60%;
}

.dbflow-card-footer {
  // background-color: rgba(191, 191, 191, .15);
  height:40%;
}
.dbflow-toolbar {
  height:6px;
}
.dbflow-duedate {
  background-color: red;
  color: white;
  // margin: 2px 2px 2px 2px;
}

// .dbflow-card-header {
//   height:10%;
// }

// .card-subject {
//   padding-bottom: 10px;
// }

// .card-assignee {
//   opacity: 0.6;
// }

.card-priority {
   position: absolute;
   top: 10px;
   bottom: 10px;
   left: 5px;
   width: 5px;
   border-radius: 2px;
   background: #86C285;
 }

// .priority-1 {
//   background: #ADADAD;
// }

// .priority-2 {
//   background: #86C285;
// }

// .priority-3 {
//   background: #EDC578;
// }

// .priority-4 {
//   background: #EF7D59;
// }
