<ng-container>
    <app-side-nav-outer-toolbar title="{{appInfo.title}}">
        <router-outlet></router-outlet>
        <app-footer>
            Copyright © 2011-2019 Developer Express Inc.
            <br/>
            All trademarks or registered trademarks are property of their respective owners.
        </app-footer>
    </app-side-nav-outer-toolbar>
</ng-container>

<!-- 
    *ngIf="isAuthenticated; else notAuthorized"
    <ng-template #notAuthorized>
    <button rvouterLink="/"> Home </button>
    <button *ngIf="!isAuthenticated" (click)="oktaAuth.loginRedirect('/home')"> Login </button>
    <button *ngIf="isAuthenticated" (click)="oktaAuth.logout()"> Logout </button>
    <button routerLink="/protected"> Protected </button>
        <app-single-card>
        <router-outlet></router-outlet>
    </app-single-card>
</ng-template> -->
