
<div class="content-block">
  <div class="contenedor">
    <div class="listaChats">
      <dx-list [dataSource]="(chats$ | async)" [grouped]="false" [searchEnabled]="true" selectionMode="single"
      searchExpr="subject" searchMode="contains" (onSelectionChanged)=chatSelected($event)>
        <div *dxTemplate="let chat of 'item'">
          <div>
            {{chat.subject}}
          </div>
        </div>
        <div *dxTemplate="let item of 'group'">
        </div>
      </dx-list>
    </div> 
    <div class="listaMensajes">
      <dx-toolbar style="background-color: transparent;">
        <dxi-item location="center" widget="dxButton" locateInMenu="never">
            <div *dxTemplate>
                <div class='toolbar-label'><b>Este soy yo</b></div>
            </div>        
        </dxi-item>
        <dxi-item location="before" widget="dxButton" [options]="backButtonOptions">
        </dxi-item>
        <dxi-item location="before"  widget="dxButton" locateInMenu="auto" [options]="refreshButtonOptions">
        </dxi-item>
      </dx-toolbar>
      <dx-list [dataSource]="(selectedChat$ | async)?.messages" [grouped]="false" style="flex-basis: 75%;">
        <div *dxTemplate="let message of 'item'">
          <div>
            {{message.body}}
          </div>
        </div>
      </dx-list>
      <div>
        Hola caracoladfsdd
        <dx-button stylingMode="contained" text="Contained" 
                   type="normal" [width]="120" (onClick)="clickNeMwssage($event)">
        </dx-button>
      </div>
    </div> 
  </div>
</div>