<div class="content-block">
  <div class="row h-100">
    <div class="col-3 dbflow-chat-container h-100">
      <dx-list #chatList [dataSource]="(chats$ | async)" [grouped]="false" [searchEnabled]="true" selectionMode="single"
        searchExpr="subject" searchMode="contains" (onSelectionChanged)=chatSelected($event)>
        <div *dxTemplate="let chat of 'item'" class="chat">
          <div class="row">
            <div class="col-6">
              <p class="contact">{{chat.withContact}} </p>
              <p class="subject">{{chat.subject}}</p>
            </div>
            <div class="col-6">
              <p class="timeAgo">{{chat.lastMessage | amTimeAgo}} </p>
            </div>
          </div>
        </div>
      </dx-list>
    </div>
    <div class="col-9 h-100">
      <app-chat-detail></app-chat-detail>

    </div>
  </div>
</div>
