.content-block {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  border-radius: 2px;
  background-color: #fff;
  margin: 8px 2px 3px 3px;
  padding: 3px 3px 3px 3px;
  height: 720px;
}
.dbflow-chat-container {
  border-right: solid lightgrey;
  border-right-width: 1px;
  height: 100%;
}

.timeAgo {
  font-size: small;
  color: gray;
}

.contact {
  font-size: 85%;
}

.subject {
  font-size: small;
  color: gray;
}

/*
.chat {
  border-bottom: solid lightgrey;
  border-bottom-width: 1px;
  height: 100%;
  align-items: stretch;
}


.message_1 {
  font-size: 80%;
  background: pink;
  margin: 10px;
  padding: 5px;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  // border: 2px solid #5878ca;
}

.message_2 {
  font-size: 80%;
  background: lightgreen;
  margin: 10px;
  padding: 5px;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
}

*/
