.chatContainer {
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    height: 100%;
    align-items: stretch;
    // border: 5px solid red;
}

.chatList {
    flex-basis: 35%;
    height: 100%;
    background-color: white;
}

.chatMessages {
    flex-basis: 65%;
    height: 100%;
}

.chat {
    border-bottom: solid lightgrey;
    border-bottom-width: 1px;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    align-items: stretch;
} 

.chat_block_left {
    flex-basis: 35%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.chat_block_right {
    display: flex; 
    flex-basis: 65%;
    justify-content: flex-end;
    width: 100%;
    height: 100%;    
}

.timeAgo {
    font-size: small;
    color: gray;
}

.contact {
    font-size: 85%;
}

.subject {
    font-size: small;
    color: gray;
}