.dbflow-notifications-view {
  height: 700px;
  margin: 10px 10px 10px 10px;
}

.dbflow-notification-block {
  border-right: solid lightgrey;
  border-right-width: 1px;
  height: 100%;
}

.dbflow-notification-block-title {
  font-size: large;
}


