<div class="dbflow-notifications-view">
  <div class="row h-100">
    <div class="col-4 dbflow-notification-block">
      <div class="dbflow-notification-block-title">
        Pending
      </div>
      <dx-list [dataSource]="(pendingNotifications$ | async)" [grouped]="false" [searchEnabled]="false"
        selectionMode="none" (onSelectionChanged)='notificationSelected($event)' (onItemClick)='notificationClicked($event)'>
        <div *dxTemplate="let notification of 'item'">
          <app-notification-card-list [notification]="notification"></app-notification-card-list>
        </div>
      </dx-list>
    </div>
    <div class="col-4 dbflow-notification-block">
      <div class="dbflow-notification-block-title">
        Received
      </div>
      <dx-list [dataSource]="(receivedNotifications$ | async)" [grouped]="false" [searchEnabled]="false"
        selectionMode="none" (onSelectionChanged)=notificationSelected($event)>
        <div *dxTemplate="let notification of 'item'">
          <app-notification-card-list [notification]="notification"></app-notification-card-list>
        </div>
      </dx-list>
    </div>
    <div class="col-4 dbflow-notification-block">
      <div class="dbflow-notification-block-title">
        Read
      </div>
      <dx-list [dataSource]="(readNotifications$ | async)" [grouped]="false" [searchEnabled]="false"
        selectionMode="none" (onSelectionChanged)=notificationSelected($event)>
        <div *dxTemplate="let notification of 'item'">
          <app-notification-card-list [notification]="notification"></app-notification-card-list>
        </div>
      </dx-list>
    </div>
  </div>
</div>
<dx-popup [width]="500" [height]="650" [showTitle]="true" [position]=position title="Information" [dragEnabled]="false"
  [closeOnOutsideClick]="true" [(visible)]="popupVisible">
  <div *dxTemplate="let data of 'content'">
    <app-notification-detail [notification]="(selectedNotification$ | async)"></app-notification-detail>
  </div>
</dx-popup>
