<div #notificationsView class="dbflow-notifications-view">
  <div class="row h-100">
    <div class="col-4 dbflow-notification-block">
      <div class="dbflow-notification-block-title">
        Pending
      </div>
      <dx-list [dataSource]="(pendingNotifications$ | async)" [grouped]="false" [searchEnabled]="false"
        selectionMode="none" (onSelectionChanged)='notificationSelected($event)'
        (onItemClick)='notificationClicked($event)'>
        <div *dxTemplate="let notification of 'item'">
          <app-notification-card-list [notification]="notification"></app-notification-card-list>
        </div>
      </dx-list>
    </div>
    <div class="col-4 dbflow-notification-block">
      <div class="dbflow-notification-block-title">
        Received
      </div>
      <dx-list [dataSource]="(receivedNotifications$ | async)" [grouped]="false" [searchEnabled]="false"
        selectionMode="none" (onSelectionChanged)=notificationSelected($event)>
        <div *dxTemplate="let notification of 'item'">
          <app-notification-card-list [notification]="notification"></app-notification-card-list>
        </div>
      </dx-list>
    </div>
    <div class="col-4 dbflow-notification-block">
      <div class="dbflow-notification-block-title">
        Read
      </div>
      <dx-list [dataSource]="(readNotifications$ | async)" [grouped]="false" [searchEnabled]="false"
        selectionMode="none" (onSelectionChanged)=notificationSelected($event)>
        <div *dxTemplate="let notification of 'item'">
          <app-notification-card-list [notification]="notification"></app-notification-card-list>
        </div>
      </dx-list>
    </div>
  </div>
</div>

<dx-popup [width]="500" [height]="450" [showTitle]="true" [position]=position [dragEnabled]="false"
  [closeOnOutsideClick]="true" [(visible)]="popupVisible">
  <dxi-toolbar-item [text]='(selectedNotification$ | async)?.subject' location="before">
  </dxi-toolbar-item>
  <dxi-toolbar-item widget="dxButton" location="after" [options]="saveButtonOptions">
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <!-- <app-notification-detail #notificationDetail [notification]="(selectedNotification$ | async)"></app-notification-detail> -->
    <app-notification-detail #notificationDetail [notification]="selectedNotification"></app-notification-detail>
  </div>
</dx-popup>

<dx-speed-dial-action
    icon="add"
    label="New notification"
    [index]="1"
    (onClick)="addNotification()">
</dx-speed-dial-action>
